<h3>Slide-Up In-App Message</h3>

{{#paper-button raised=true onClick=(action showSlideUpMessage)}}
  Slide-Up Example
{{/paper-button}}


<h3>Modal In-App Message</h3>

{{#paper-button raised=true onClick=(action showModal)}}
  Modal Example
{{/paper-button}}

<br />

{{#paper-button raised=true onClick=(action showModalWithTransition)}}
  Modal With Transition Example
{{/paper-button}}

<br />

{{#paper-button raised=true onClick=(action showModalWithOneButton)}}
  Modal With One Button Example
{{/paper-button}}

<br />

{{#paper-button raised=true onClick=(action showModalWithTwoButtons)}}
  Modal With Two Buttons Example
{{/paper-button}}
