{{#paper-toolbar class='md-whiteframe-1dp'}}
  {{#paper-toolbar-tools}}<h2>Introduction</h2>{{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div>
  <h1 id="what-is-ember-appboy-">DEPRECATED</h1>
  <p>
    Please use <a href='https://blimmer.github.io/ember-braze/'>ember-braze</a> instead.
  </p>
</div>
